<section>
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.length %>/<%= todos.length %></p>
  </div>
  <ul>
    <% todos.all.each do |todo| %>
      <li class="TodoItem">
        <label class="TodoItem-container <%= todo.completed ? "TodoItem-container-completed" : "" %>">
          <%= form_with(url: "#{todos_path}/#{todo.id}", method: "PUT") do %>
            <input
              type="checkbox"
              class="TodoItem-checkbox"
              name="status"
              onclick="this.form.submit()"
              <%= todo.completed ? "checked" : "" %>
            >
          <% end %>
          <%= todo.todo_text %>
          <% if show_due_date %>
            <p class="TodoItem-duedate "><%= Date.parse(todo.due_date).to_fs(:short) %></p>
          <% end %>
          <%= form_with(url: "todos/#{todo.id}", method: "DELETE") do %>
            <input class="TodoItem-delete"
                   onclick="this.form.submit()"
                   type="image"
                   src="<%= image_path("trash_icon.png") %>"
                   height="24"
                   width="24"
            >
          <% end %>
        </label>
      </li>
    <% end %>
  </ul>
</section>